﻿@model List<FileDrop.Models.FileGroupViewModel>

@{
	ViewBag.Title = "Dropped Files";
	List<FileDrop.Models.SortOptions> options = (List<FileDrop.Models.SortOptions>)ViewData["SortOptions"];
}

<style>

	.no-padding {
		padding: 0;
	}

	.dvDroppedFiles {
		border: 2px solid #02456C; 
		background-color: #02456C;
		outline: none;
		transition: 0.4s;
		padding: 10px;
		color: white;
	}

	.dvDroppedFiles:hover {
		/*border: 2px solid #02456C;
		background-color: white;
		color: #02456C;*/
		cursor: pointer;
	}

	.dvFileContainer.selected .dvDroppedFiles {
		border: 2px solid #02456C;
		background-color: white;
		color: #02456C;
	}

	.dvFileContainer.selected .dvFiles {
		padding-top: 2px;
		padding-bottom: 2px;
	}
		
	.dvFiles {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		border: 2px solid #02456C;
		border-top: 0;
	}

	.dvFileContainer .dvFiles div {
		padding: 5px;
		display: block;
	}

	.dvDescription {
		font-size: 20px;
		font-weight: bold;
	}

	.dvUploaded, .dvDeleted {
		display: inline-block;
	}

	.dvFileContainer {
		margin-bottom: 10px;
	}

	.fa-download {
		color: #02456C;
	}

	.dvFileContainer:not(.selected) .dvDescription span.pull-right.fa::before {
		content: "\f078";
	}

	.dvFileContainer.selected .dvDescription span.pull-right.fa::before {
		content: "\f077";
	}

	@@media screen and (min-width: 770px) {
		.dvDroppedFiles .dvDeleted {
			float: right;
		}

		.dvFiles div a span:last-of-type {
			float: right;
		}
	}

	#dvSort {
		margin-top: -20px;
		max-width: 100%;
		width: 100%;
	}

	#dvSort #ddlSort {
		max-width: 100%;
		width: 100%;
		border-radius: 0;
	}

	@@media screen and (min-width: 500px){
		#dvSort {
			margin-top: -67px;
			width: 225px;
		}
	}

</style>

<div class="col-sm-12 mt-4">

	<h2>Dropped Files</h2>

	<br />

	<div class="col-sm-12 no-padding">

		<div class="pull-right mb-3" id="dvSort">
			<select class="form-control" id="ddlSort">
				@foreach (FileDrop.Models.SortOptions so in options)
				{
					<option value="@so.URL" @(so.Current ? Html.Encode("selected") : Html.Encode(""))>@so.Name</option>
				}
			</select>
		</div>

		<div style="clear: both"></div>

		@foreach (FileDrop.Models.FileGroupViewModel fg in Model)
		{
			<div class="dvFileContainer">
				<div class="dvDroppedFiles">
					<div class="dvDescription">
						@fg.Description 
						<i><small> - @fg.Files.Count @(fg.Files.Count == 1 ? "file" : "files")</small></i>
						<span class="pull-right fa fa-chevron-down"></span>
					</div>
					<div class="dvUploaded"><b>Uploaded on:</b> <span>@fg.DateUploaded</span></div>
					<div class="dvDeleted"><b>To be deleted on:</b> <span>@fg.DateToBeDeleted</span></div>
				</div>
				<div class="col-sm-12 dvFiles">
					@foreach (FileDrop.Models.DroppedFile df in fg.Files)
					{
						<div>
							<a href="/DownloadFile?fileID=@df.Id">
								<span class="fa fa-download"></span>
								<span>@df.OriginalFileName</span>
								<span style="display: block;">
									@df.FileType - @df.FileSize
								</span>
							</a>							
						</div>
					}
				</div>
			</div>
		}

		

	</div>

</div>

<div style="clear: both"></div>

@section scripts
{
	<script type="text/javascript">

		$(document).on("click", ".dvDroppedFiles", function () {
			var $this = $(this);
			var isThisSelected = $this.closest(".dvFileContainer").hasClass("selected");

			var $openPanel = $(".selected");
			if ($openPanel.length > 0) {
				$openPanel.find(".dvFiles").css("maxHeight", "0");
				$openPanel.removeClass("selected");
			}

			if (!isThisSelected) {
    			var $container = this.nextElementSibling;
				$container.style.maxHeight = ($container.scrollHeight + 10) + "px";
				$this.closest(".dvFileContainer").addClass("selected");
			}

		});

		$(document).on("change", "#ddlSort", function () {
			var $ddl = $(this);
			window.location.href = $ddl.find("option:selected").val();
		});

	</script>	
}
