﻿@{
    ViewBag.Title = "AllowFileType";
}

<style>

	.hidden {
		display: none;
	}

	.pull-left {
		float: left !important;
	}

	.pull-right {
		float: right !important;
	}

	#btnSave, #btnRemove {
		background-color: #02456C;
		width: 100%;
		color: white;
		margin-top: 15px;
	}

	#btnSave:hover, #btnRemove:hover {
		background-color: #023859;
	}

	#txtExtension, #txtMime, #txtFTID {
		max-width: 100%;
	}

	#tbl {
		border-bottom: 2px solid lightgrey;
	}

	#tbl thead {
		border-top: 2px solid lightgrey;
	}

</style>

<br />

<div class="col-sm-12" style="width: 100%; margin-bottom: 15px; height: 100%;">

	<div style="width: 100%">

		<div class="pull-left @(ViewBag.Mode == "manage" ? "col-sm-6" : "hidden")">

			<h2>Add Allowed File Type</h2>

			<div class="form-group">
				<label class="col-form-label">Extension</label>
				<div class="">
					<input type="text" class="form-control" id="txtExtension" placeholder="e.g. txt" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-form-label">Mime Type</label>
				<div class="">
					<input type="text" class="form-control" id="txtMime" placeholder="e.g. text/plain" />
				</div>
			</div>

			<button type="button" class="btn" id="btnSave">Save</button>

			<div class="alert alert-danger hidden" id="alertAddError">
			</div>
			<div class="alert alert-success hidden" id="alertAddSuccess">
			</div>
			<div class="alert alert-info hidden" id="alertAddInfo">
			</div>

			<hr />

			<h3>Remove Allowed File Type</h3>

			<div class="form-group">
				<label class="col-form-label">File Type ID</label>
				<div class="">
					<input type="text" class="form-control" id="txtFTID" placeholder="e.g. 2" />
				</div>
			</div>

			<button type="button" class="btn" id="btnRemove">Remove</button>

			<div class="alert alert-danger hidden" id="alertRemoveError">
			</div>
			<div class="alert alert-success hidden" id="alertRemoveSuccess">
			</div>
			<div class="alert alert-info hidden" id="alertRemoveInfo">
			</div>

			<div style="clear:both"></div>

		</div>

		<div class="pull-left @(ViewBag.Mode == "manage" ? "col-sm-6" : "col-sm-12")">

			<h3>Allowed File Types</h3>

			<br />

			<table class="table" id="tbl">
				<thead>
					<tr>
						<th>ID</th>
						<th>Extension</th>
						<th>Mime Type</th>
					</tr>
				</thead>
				<tbody id="tbdy">
					<tr>
						<td colspan="3">Please wait...</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div style="clear:both"></div>
	</div>

</div>


@section scripts
{
	<script type="text/javascript">

		$(function () {

			populateTable();

			$("#btnSave").on("click", function () {

				var ext = $("#txtExtension").val();
				var mime = $("#txtMime").val();

				var data = {
					ext: ext,
					mime: mime
				};

				var result = null;

				$.ajax({
					type: "POST",
					url: "/AddFileType",
					contentType: "application/json; charset=utf-8",
					async: false,
					data: JSON.stringify(data),
					success: function (msg) {
						result = msg;
					}
				});

				if (result != null) {
					$("#txtExtension").val("");
					$("#txtMime").val("");
					if (result.ID == 0) {
						populateTable();
						$("#alertAddSuccess").html("File Type added to the allowed list successfully!").toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertAddSuccess").toggleClass("hidden", true);
						}, 5000);
					} else if (result.ID == -3) {
						$("#alertAddInfo").html("File Type already exists in the Allowed List!").toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertAddInfo").toggleClass("hidden", true);
						}, 5000);
					} else {
						$("#alertAddError").html(result.Message).toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertAddError").toggleClass("hidden", true);
						}, 5000);
					}
				} else {
					$("#alertAddError").html("Unable to add File Type. Please try again!").toggleClass("hidden", false);
					setTimeout(function () {
						$("#alertAddError").toggleClass("hidden", true);
					}, 5000);
				}

			});

			$("#btnRemove").on("click", function () {

				var id = $("#txtFTID").val();

				var data = {
					id: id
				};

				var result = null;

				$.ajax({
					type: "POST",
					url: "/RemoveFileType",
					contentType: "application/json; charset=utf-8",
					async: false,
					data: JSON.stringify(data),
					success: function (msg) {
						result = msg;
					}
				});

				if (result != null) {
					$("#txtFTID").val("");
					if (result.ID == 0) {
						populateTable();
						$("#alertRemoveSuccess").html("File Type has been removed successfully!").toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertRemoveSuccess").toggleClass("hidden", true);
						}, 5000);
					} else if (result.ID == -3) {
						$("#alertRemoveInfo").html("This ID does not exist in the Allowed List!").toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertRemoveInfo").toggleClass("hidden", true);
						}, 5000);
					} else {
						$("#alertRemoveError").html(result.Message).toggleClass("hidden", false);
						setTimeout(function () {
							$("#alertRemoveError").toggleClass("hidden", true);
						}, 5000);
					}
				} else {
					$("#alertRemoveError").html("Unable to remove File Type. Please try again!").toggleClass("hidden", false);
					setTimeout(function () {
						$("#alertRemoveError").toggleClass("hidden", true);
					}, 5000);
				}

			});

		});

		function populateTable() {
			var result = null;

			$.ajax({
				type: "POST",
				url: "/GetFileTypes",
				contentType: "application/json; charset=utf-8",
				async: false,
				success: function (msg) {
					result = msg;
				}
			});

			var html = "";

			if (result != null && result.length > 0) {
				for (var i = 0; i < result.length; i++) {

					html += "<tr>";
					html += "<td>" + result[i].ID + "</td>";
					html += "<td>" + result[i].Extension + "</td>";
					html += "<td>" + result[i].MimeType + "</td>";
					html += "</tr>";
				}
			} else {
				html = result == null ? "<tr><td colspan='3' style='text-align:center'>Unable to retrieve Allowed File Types</td></tr>" : "<tr><td colspan='3' style='text-align:center'>No Allowed File Types found!</td></tr>";
			}

			$("#tbdy").html(html);
		}

	</script>	
}