﻿@model Dictionary<string, int>
@{
    ViewBag.Title = "File Drop";
}

<style>

	.hasError {
		border-color: red;
		background-color: #f2dede;
		color: black;
	}

	#btnSubmit {
		background-color: #02456C;
		width: 100px;
		float: right !important;
		color: white;
		border-radius: 0 !important;
		border: 2px solid #02456C;
	}

	#btnSubmit:hover {
		background-color: white;
		color: #02456C;
	}

	#btnSubmit:disabled:hover {
		background-color: #02456C;
		color: white;
	}

	#txtTitle {
		width: 100%;
		max-width: 100%;
		color: black;
		border-radius: 0;
	}

	.hidden {
		display: none;
	}

	.invisible {
		opacity: 0;
	}

	#sltTime {
		border-radius: 0;
	}

	.box {
		background-color: #c8dadf;
		outline: 2px dashed #92b0b3;
		outline-offset: -10px;
		padding: 100px 20px;
		font-size: 22px;
		min-height: inherit;
		cursor: pointer;
	}

	.box__input {
		text-align: center;
	}

	.box__file, .box__dragndrop, .box__uploading, .box__success, .box__error, .box__button, .box__info {
		display: none;
	}

	.box.has-advanced-upload .box__dragndrop {
		display: inline;
	}

	.box.is-dragover {
		background-color: white;
	}

	.box.is-uploading .box__input, .box.uploaded .box__input, .box.not-uploaded .box__input, .box.give-info .box__input {
		display: none;
	}

	.box.is-uploading .box__uploading {
		display: block;
	}

	.box.give-info .box__info {
		display: block;
	}

	.box.uploaded .box__success {
		display: block;
	}

	.box.not-uploaded .box__error {
		display: block;
	}

	.box.not-uploaded {
		background-color: #ebccd1;
	}

	.box__uploading {
		text-align: center;
	}

	.full-width {
		width: 100% !important;
		max-width: 100% !important;
	}

	.pull-left {
		float: left;
	}

	.pull-right {
		float: right;
	}

	.box__files-file {
		padding: 5px;
	}

	.box__files-file:not(:last-of-type) {
		border-bottom: 2px solid lightgrey;
	}

	.box__files-file div {
		display: inline-block;
		text-align: center;
		cursor: pointer;
		width: 50px;
	}

	.box__files-file .fa-times {
		color: red;
	}

	.box__success, .box__error, .box__info, .result_message {
		text-align: center;
	}

	.alert-info .fa-times:hover, #sltTime {
		cursor: pointer;
	}

	.file-name {
		font-weight: bold;
	}

	@@media screen and (min-width: 500px) {
		.box__files-file span.file-type {
			display: inline-block;
			float: right;
		}

		.box__files-file span.file-type div {
			float: none;
		}
	}	

	/** SPINNER **/
	.spinner {
		margin-left: auto;
		margin-right: auto;
		width: 50px;
		height: 35px;
		text-align: center;
		font-size: 10px;
	}
	.spinner > div {
		background-color: #333;
		height: 100%;
		width: 6px;
		display: inline-block;
		-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
		animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}
	.spinner .rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.spinner .rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
	.spinner .rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	.spinner .rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
	@@-webkit-keyframes sk-stretchdelay {
		0%, 40%, 100% {
			-webkit-transform: scaleY(0.4)
		}
		20% {
			-webkit-transform: scaleY(1.0)
		}
	}
	@@keyframes sk-stretchdelay {
		0%, 40%, 100% {
			transform: scaleY(0.4);
			-webkit-transform: scaleY(0.4);
		}
		20% {
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}
	/*****/
</style>

<div style="margin-top: 30px" id="dvMain" class="col-sm-12">

	<div class="form-group" style="margin-top: 30px;">

		@* Name or Description of File *@
		<div class="col-sm-6 pull-left">
			<input type="text" id="txtTitle" class="form-control" placeholder="Name or Description of the file" />
		</div>

		@* When to Delete the file *@
		<div class="col-sm-6 pull-left">
			<select id="sltTime" class="form-control full-width" title="This will default to 1 week if nothing has been selected." data-toggle="tooltip">
				<option value="-1">When to delete the file</option>
				@if (Model != null && Model.Count > 0)
				{
					foreach (var item in Model)
					{
						<option value="@item.Value">@item.Key</option>
					}
				}
			</select>
		</div>
		<div style="clear: both"></div>
	</div>

	@* Upload Box *@
	<div style="min-height: 310px;">
		<input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
		<form class="box" method="post" action="" enctype="multipart/form-data">
			<div class="box__input">
				<div class="">
					<i class="fa fa-upload fa-3x"></i>
				</div>
				<label for="file">
					<strong>Choose a file</strong>
					<span class="box__dragndrop"> or drag it here.</span>
				</label>
				<button class="box__button" type="button">Upload</button>
			</div>
			<div class="box__uploading">
				Uploading
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
			</div>
			<div class="box__success">
				<div class="">
					<i class="fa fa-check fa-3x"></i>
				</div>
				<div class="result_message"></div>
			</div>
			<div class="box__error">
				<div class="">
					<i class="fa fa-times fa-3x"></i>
				</div>
				<div class="result_message"></div>
			</div>
			<div class="box__info">
				<div class="">
					<i class="fa fa-exclamation fa-3x"></i>
				</div>
				<div class="result_message"></div>
			</div>
		</form>
	</div>

	<div class="mt-3" id="dvUploadedFiles">
	</div>

	<div class="mt-3">
		<button type="button" id="btnSubmit" class="btn full-width" disabled>Submit</button>

		<div style="clear: both"></div>
	</div>

	@* Notes *@
	<div class="alert alert-info mt-3">
		<b>Please note:</b>
		The maximum file size is 2GB.
		<span class="pull-right">
			<i class="fa fa-times"></i>
		</span>
		<br />
		If your file is larger than 2GB or it's file type is not supported, it can still be uploaded. Click <a href="#">here</a> to found out more!
		<div class="hidden">
			<ul class="mt-2" style="list-style-type: square;">
				<li>File is larger than 2GB - Compress your file and split into multiple parts, ensuring each one is less than 2GB.</li>
				<li>File Type is not supported - Compress your file, and try uploading that.</li>
			</ul>

			<div class="mt-2" style="display:block;">You can compress your file using software such as <a href='/DownloadFile?fileID=-100'>WinRar</a>.</div>
		</div>
	</div>

</div>

@section scripts
{
	<script type="text/javascript">

		var formData = new FormData();

		$(function () {			

			/** On Drag and Drop **/
			var isAdvancedUpload = function () {
				var div = document.createElement('div');
				return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
			}();

			var $form = $(".box");

			if (isAdvancedUpload) {
				$form.addClass("has-advanced-upload");

				var droppedFiles = false;

				$form.on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
					e.preventDefault();
					e.stopPropagation();
				})
				.on('dragover dragenter', function () {
					$form.toggleClass("is-dragover", true);
				})
				.on('dragleave dragend drop', function () {
					$form.toggleClass("is-dragover", false);
				})
				.on('drop', function (e) {
					droppedFiles = e.originalEvent.dataTransfer.files;
					addFiles(droppedFiles);
				});
			}
			/***********************/

			// On box click
			$(".box").on("click", function () {
				var $box = $(this);
				if ($box.hasClass("uploaded") || $box.hasClass("is-uploading") || $box.hasClass("not-uploaded")) {
					return false;
				} else {
					$("#file").trigger("click");
				}
			});

			// On click of input
			$("#file").on("change", function () {
				var $this = $(this);
				var files = $this.prop("files");
				addFiles(files);
			});

			// On Submit Button click
			$("#btnSubmit").on("click", function () {

				var $btn = $(this);

				if ($btn.text() == "Submit") {
					var $txt = $("#txtTitle");

					if ($txt.val().trim() == "") {
						$txt.toggleClass("hasError", true);
						return;
					} else {
						$txt.toggleClass("hasError", false);
					}

					$btn.prop("disabled", true);

					upload();
				} else {
					$(".box").toggleClass("uploaded", false).toggleClass("not-uploaded", false).toggleClass("is-uploading", false);
					$btn.text("Submit").prop("disabled", true);
					$("#txtTitle").val("");
					$("#sltTime").val(-1);
				}
			});

			// On Notes cross click
			$(".alert-info span").on("click", function () {
				$(this).closest("div.alert").remove();
			});

			// On Notes here click
			$(".alert-info a").on("click", function () {
				$(this).closest("div").find("div").toggleClass("hidden");
			});
		});

		// On click of the red cross
		$(document).on("click", ".box__files-file div", function () {

			var $div = $(this).closest(".box__files-file");
			var fileName = $div.find(".file-name").text();
			formData.delete(fileName);
			$div.remove();

			if ($(".box__files-file").length <= 0) {
				$("#btnSubmit").prop("disabled", true);
			}
		});


		function addFiles(fileList) {

			var $files = $("#dvUploadedFiles");
			var notAllowedFiles = [];

			var fileCount = fileList.length;
			for (var i = 0; i < fileCount; i++) {
				if ((fileList[i].size / 1024) <= 2150000) {
					formData.append(fileList[i].name, fileList[i]);

					$files.append("<div class='box__files-file'>" +
										"<span class='file-name'>" + fileList[i].name + "</span>" +
										"<span class='file-type' style='display: block;'>" +
											fileList[i].type + " - " + getReadableFileSizeString(fileList[i].size) +
											" <div class='pull-right'><span class='fa fa-times'></span></div>" +
										"</span> " +
									"</div>");
				} else {
					notAllowedFiles.push(fileList[i].name);
				}
			}

			if (notAllowedFiles.length > 0) {
				var $box = $(".box");
				var html = "The following file" + (notAllowedFiles.length > 1 ? "s are" : " is") + " larger than the max file size of 2GB:<br />";
				for (var i = 0; i < notAllowedFiles.length; i++) {
					html += notAllowedFiles[i] + "<br />";
				}
				$box.toggleClass("give-info", true).find(".box__info .result_message").html(html);
				setTimeout(function () {
					$box.toggleClass("give-info", false).find(".box__info .result_message").html("");
				}, 3000);
			}

			if ($(".box__files-file").length > 0) {
				$("#btnSubmit").prop("disabled", false);
			}
		}

		function clearAllFiles() {
			$("#dvUploadedFiles .box__files-file .fa-times").trigger("click");
		}

		function upload() {
			
			if (window.FormData !== undefined) {

				var $box = $(".box");
				$box.toggleClass("is-uploading", true);

				var desc = $("#txtTitle").val();
				var date = parseInt($("#sltTime").val());
				var result = null;

				$.ajax({
					type: "POST",
					url: "/Upload?desc=" + desc + "&date=" + date,
					contentType: false,
					processData: false,
					cache: false,
					data: formData
				}).done(function (result) {
					if (result.ID == 0) {
						$box.toggleClass("is-uploading", false).toggleClass("uploaded", true).find(".box__success .result_message").html(result.Message);
						clearAllFiles();
						$("#btnSubmit").text("Upload more files?").prop("disabled", false);
					} else {
						$box.toggleClass("is-uploading", false).toggleClass("not-uploaded", true).find(".box__error .result_message").html(result.Message);
						clearAllFiles();
						$("#btnSubmit").text("Refresh Form?").prop("disabled", false);
						}
				}).fail(function () {
					$box.toggleClass("is-uploading", false).toggleClass("not-uploaded", true).find(".box__error .result_message").html("Something went wrong. Please try again!");
					clearAllFiles();
					$("#btnSubmit").text("Refresh Form?").prop("disabled", false);
				});
				
			} else {
				alert("This browser doesn't support HTML5 file uploads!");
			}
		}

		function getReadableFileSizeString(fileSizeInBytes) {
			var i = -1;
			var byteUnits = [' kB', ' MB', ' GB', ' TB', 'PB', 'EB', 'ZB', 'YB'];
			do {
				fileSizeInBytes = fileSizeInBytes / 1024;
				i++;
			} while (fileSizeInBytes > 1024);

			return Math.max(fileSizeInBytes, 0.1).toFixed(2) + byteUnits[i];
		};

	</script>

}
